:root{
    --fuente: 'Open Sans', sans-serif;
    --primario: #CE1131;
    --negro: #121212;
    --verdeoscuro: #003500;
    --verdeclaro: #67BD67;
    --azul: #31A7F1;
    --blanco: #FFF;
    --colorfuente: #C5BB44;
}

/*selectores globales*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
  }
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--fuente);
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--azul);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 2.5rem;
    margin: 0;
    color: var(--colorfuente);
}
img{
    max-width: 100%;
}
input{
    background-color: var(--azul);
    color: var(--negro);
    border-radius: 3rem;
    font-size: 2rem;
    border-color: var(--negro);
    padding: 2rem;
}

/*Contenedor */
.pokedex{
    background-color: var(--primario);
    width: min(90%, 120rem);
    margin: 0 auto;
    padding: 2rem;

    border-radius: 5rem;
    -webkit-box-shadow: 11px 14px 18px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 11px 14px 18px -2px rgba(0,0,0,0.5);
    box-shadow: 11px 14px 18px -2px rgba(0,0,0,0.5);

    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 6rem;
}

/* busqueda de pokedex*/
.busqueda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}
.contenedorimg{
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.boton{
    background-color: var(--negro);
    width: 8rem;
    height: 8rem;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton::after{
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    border-radius: 10rem;
    transition: .3s ease-in-out all;
    transform-origin: center;
}
.boton:hover::after{
    transform: scale(85);
    cursor: pointer;
    background-color: var(--verdeclaro);
}

/* estadisticas de pokemons */
.stats{
    background-color: var(--verdeoscuro);
    padding: 2rem;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.tipos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}
.stats__numeros{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.numeros{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.stats__fisico{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* footer */
.footer{
    display: flex;
    justify-content: center;
}